<header class="header">
    <nav class="navbar">
      <ul class="nav-menu">
        <li class="nav-item"><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        <li class="nav-item"><a [routerLink]="['/about']" routerLinkActive="active">Sobre nosotros</a></li>
        <li class="nav-item"><a [routerLink]="['/tools']" routerLinkActive="active">Herramientas</a></li>
        <li class="nav-item"><a [routerLink]="['/contact']" routerLinkActive="active">Contacto</a></li>
        <li class="nav-item"><a [routerLink]="['/login']" routerLinkActive="active">Iniciar sesión</a></li>
        <li class="nav-item"><a [routerLink]="['/register']" routerLinkActive="active">Registro</a></li>
      </ul>
    </nav>
</header>
